/bottomtab/local.properties
/effectdialog/local.properties
/sweetalert/local.properties
/xtoast/local.properties
/togglebutton/local.properties
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
